<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7690be">  <td>21/03/25 00:56:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_TodoList.addTodo()[pri:0, instance:testCase.TC001_TodoList@6eebc39e]">addTodo</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>21/03/25 00:56:17</td>   <td>10981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_TodoList.completeTodo()[pri:0, instance:testCase.TC001_TodoList@6eebc39e]">completeTodo</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>21/03/25 00:56:18</td>   <td>11556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_TodoList.deleteTodo()[pri:0, instance:testCase.TC001_TodoList@6eebc39e]">deleteTodo</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>21/03/25 00:56:30</td>   <td>23320</td> <td title="&lt;&lt;TC001_TodoList.driverQuit()[pri:0, instance:testCase.TC001_TodoList@6eebc39e]">&lt;&lt;driverQuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>21/03/25 00:56:28</td>   <td>21889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_TodoList.filterTodo()[pri:0, instance:testCase.TC001_TodoList@6eebc39e]">filterTodo</td> 
  <td>main@101478235</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>21/03/25 00:56:01</td>   <td>-4794</td> <td title="&gt;&gt;TC001_TodoList.openBrowser()[pri:0, instance:testCase.TC001_TodoList@6eebc39e]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@101478235</td>   <td></td> </tr>
</table>
